html,body,header,menu,nav,main,div,span,article,aside,p,a,footer,ul,ol,li,table,tr,td,th,b,i,u,img{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: inherit;
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans TC', 'Noto Serif TC' ,sans-serif;
    border: 0;
}
:root {
    /* 主題色 */
    --mainColor: #F2BD66;
    /* 第一輔助色 */
    --firstColor: #F39A7C;
    /* 第二輔助色(標籤) */
    --secondColor: #FF909D;
    /* 新增用色 */
    --addColor: #BED38B;
    /* 警示色 */
    --warningColor: #EE5B6D;
    /* 背景色 */
    --backgroundColor: #FEF5E6;
    /* 灰色 */
    --gray: #c4c4c4;
    /* 黑色 */
    --black: #333333;
    /* 白色 */
    --white: #F6F7F8;
    /* 正常速 */
    --transitionNormal: all 0.3s ease;
    /* 快速 */
    --transitionFast: all 0.1s ease;
    /* 慢速 */
    --transitionSlow: all 0.6s ease;
    /* 較圓圓角 */
    --radiusLarge: 50px;
    /* 一般圓角 */
    --radiusNormal: 8px;
    /* 陰影 */
}
/* 隱藏 Chrome, Safari, Opera 瀏覽器的上下按鈕 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* 移除外觀 */
    margin: 0; /* 雖然通常不需要，但保險起見將 margin 設為 0 */
}
/* 隱藏 Firefox 瀏覽器的上下按鈕 */
input[type="number"] {
    -moz-appearance: textfield; /* 將其視為一般文字欄位 */
}
h1:lang(zh-Hant-TW) {
    font-size: 48px;
    font-weight: 900;
    font-family: 'Noto Serif TC';
    margin: 0;
}
h2:lang(zh-Hant-TW) {
    font-size: 36px;
    font-weight: 800;
    font-family: 'Noto Serif TC';
    margin: 0;
}
h3:lang(zh-Hant-TW) {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Noto Serif TC';
    margin: 0;
}
h4:lang(zh-Hant-TW) {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Noto Serif TC';
    margin: 0;
}
h5:lang(zh-Hant-TW) {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
h6:lang(zh-Hant-TW) {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
p:lang(zh-Hant-TW) {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}
h1:lang(en) {
    font-size: 48px;
    font-weight: 900;
    font-family: 'Noto Serif TC';
    margin: 0;
}
h2:lang(en) {
    font-size: 36px;
    font-weight: 800;
    font-family: 'Noto Serif TC';
    margin: 0;
}
h3:lang(en) {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Noto Serif TC';
    margin: 0;
}
h4:lang(en) {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Noto Serif TC';
    margin: 0;
}
h5:lang(en) {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}
h6:lang(en) {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
p:lang(en) {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}
html{
    overflow-x: hidden;
    color: var(--black);
    background-color: var(--white);
}
.body {
    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
}
.container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
/* header */
.webSearch {
    display: none;
}
header {
    width: 100%;
    height: auto;
    padding: 1em 0;
    position: fixed;
    z-index: 500;
    /*玻璃效果*/
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header .headerUp {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
}
header .container{
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}
header .logo{
    width: 136px;
    height: 28px;
    background: url("/image/Logo.png") center no-repeat;
    background-size: cover;
}
header .headButton{
    display: flex;
    font-size: 1.3em;
    gap: 0.8em;
    justify-content: center;
    align-items: center;
    transition: var(--transitionNormal);
}
header .headButton .iconWord{
    display: none;
}
header .headButton i {
    font-size: 1.2em;
}
.member {
    width: 1.5em;
    text-align: center;
    cursor: pointer;
}
.cart {
    width: 1.5em;
    text-align: center;
}
.bell {
    width: 1.5em;
    text-align: center;
}
.hoverUser {
    display: none;
}
.hoverCart {
    display: none;
}
.hoverBell {
    display: none;
}
header .searchBox {
    position: relative;
    width: 80%;
}
header .searchBox input {
    width: 90%;
    border: 1px solid var(--mainColor);
    border-radius: var(--radiusLarge);
    padding: 0.8em 0.4em;
}
header .searchButton {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 8%;
    font-size: 1.2em;
    background: transparent;
    border: 0;
}
/* section banner */
section.banner {
    background: url("image/bannerHero.png") top no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
section.banner .bannerWords {
    color: var(--backgroundColor);
    position: absolute;
    top: 25%;
    right: 1.5em;
    writing-mode: vertical-rl;
    /* 文字由上往下，從右到左 */
    text-orientation: upright;
    /* 每個字保持正立，不旋轉 */
    line-height: 1em;
}
/* .bannerWords h3{} */
.bannerWords h3.left {
    margin: 1.2em 1.2em 0 0;
}

/* 分隔線 */
.partition {
    position: relative;
    width: 100%;
    top: -12vh;
}

.partition img {
    transform: scale(0.7) translate(-40%);
    text-align: center;
}

/* 地圖、季節、排行榜、小學堂 */
.category {
    width: 100%;
    position: relative;
}

.category .container {
    width: 90%;
    justify-content: space-around;
}

.category .categoryItem {
    color: var(--black);
    text-align: center;
}

.category .categoryItem i {
    transition: var(--transitionNormal);
    font-size: 2em;
}

.category .categoryItem p {
    transition: var(--transitionNormal);
}

.category .categoryItem .inWeb {
    display: none;
}

/* 種類 */


/* 愛心放大縮小動畫 */
.heart.animate{
    animation: pop 0.3s ease;
}

@keyframes pop{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}








@media screen and (min-width:768px){
    h1:lang(zh-Hant-TW) {
        font-size: 72px;
        font-weight: 900;
    }

    h2:lang(zh-Hant-TW) {
        font-size: 48px;
        font-weight: 800;
    }

    h3:lang(zh-Hant-TW) {
        font-size: 40px;
        font-weight: 700;
    }

    h4:lang(zh-Hant-TW) {
        font-size: 36px;
        font-weight: 600;
    }

    h5:lang(zh-Hant-TW) {
        font-size: 32px;
        font-weight: 600;
    }

    h6:lang(zh-Hant-TW) {
        font-size: 24px;
        font-weight: 500;
    }

    p:lang(zh-Hant-TW) {
        font-size: 16px;
        font-weight: 400;
    }

    h1:lang(en) {
        font-size: 58px;
        font-weight: 900;
    }

    h2:lang(en) {
        font-size: 44px;
        font-weight: 800;
    }

    h3:lang(en) {
        font-size: 36px;
        font-weight: 700;
    }

    h4:lang(en) {
        font-size: 32px;
        font-weight: 600;
    }

    h5:lang(en) {
        font-size: 28px;
        font-weight: 600;
    }

    h6:lang(en) {
        font-size: 20px;
        font-weight: 500;
    }

    p:lang(en) {
        font-size: 16px;
        font-weight: 400;
    }

    /* header */
    .mobileSearch {
        display: none;
    }

    .webSearch {
        display: block;
    }
    header .headerUp{
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }
    header .logo{
        width: 292px;
        height: 60px;
        transform: scale(75%);
    }

    header .headButton {
        gap: 0;
        padding: 0;
        font-size: 1em;
    }

    .member {
        min-width: 110px;
    }

    .cart {
        min-width: 90px;
    }

    .bell {
        min-width: 80px;
    }

    .member:hover .defultUser {
        display: none;
    }

    .member:hover .hoverUser {
        display: inline-block;
    }

    .cart:hover .defultCart {
        display: none;
    }

    .cart:hover .hoverCart {
        display: inline-block;
    }

    .bell:hover .defultBell {
        display: none;
    }

    .bell:hover .hoverBell {
        display: inline-block;
    }

    header .headButton .iconWord {
        display: inline;
    }

    header .searchBox {
        width: 25%;
    }

    /* 分隔線 */
    .partition {
        position: relative;
        width: 100%;
        height: 175px;
        top: -15vh;
    }

    .partition img {
        transform: scaleX(1.5);
    }

    /* 地圖、季節、排行榜、小學堂 */
    /* .category{} */
    .category .container {
        max-width: 720px;
    }

    /* .category .categoryItem{} */
    .category .map:hover i {
        color: var(--addColor);
    }

    .category .map:hover p {
        color: var(--addColor);
    }

    .category .season:hover i {
        color: var(--secondColor);
    }

    .category .season:hover p {
        color: var(--secondColor);
    }

    .category .ranking:hover i {
        color: var(--secondColor);
    }

    .category .ranking:hover p {
        color: var(--secondColor);
    }

    .category .knowledge:hover i {
        color: var(--mainColor);
    }

    .category .knowledge:hover p {
        color: var(--mainColor);
    }

    /* .category .categoryItem i{} */
    .category .categoryItem .inMobile {
        display: none;
    }

    .category .categoryItem .inWeb {
        display: inline-block;
    }

    /* 本週新鮮現採weekFresh */
    section.weekFresh .commodity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1440px;
    }

    section.weekFresh .fa-angle-left {
        color: var(--mainColor);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        display: inline-block;
        color: var(--black);
        z-index: 2;
    }

    section.weekFresh .fa-chevron-right {
        color: var(--mainColor);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        display: inline-block;
        color: var(--black);
        z-index: 2;
    }

    section.weekFresh .commodity .container {
        max-width: 920px;
        overflow-x: hidden;
        justify-content: left;
        align-items: center;
        flex-flow: row nowrap;
    }

    section.weekFresh .commodityCard {
        min-width: 296px;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
    }

    section.weekFresh .cardUp {
        width: 296px;
        height: 262px;
        border-radius: 32px 32px 0 0;
        background: url("/image/chinese-pear.png") no-repeat right;
        background-size: cover;
        overflow: hidden;
    }

    section.weekFresh .cardUp p {
        background-color: var(--secondColor);
        color: var(--backgroundColor);
        position: absolute;
        padding: 0.2em 0.5em;
        top: 1em;
        right: 1em;
        border-radius: var(--radiusNormal);
    }

    section.weekFresh .circlePicture {
        border-radius: 50%;
        border: 1px solid var(--mainColor);
        text-align: center;
        position: absolute;
        left: 0.4em;
        bottom: 0.4em;
    }

    section.weekFresh .circlePicture img {
        scale: 1.1;
    }

    section.weekFresh .cardBottom {
        position: relative;
        padding: 0.5em;
        text-align: justify;
        line-height: 1;
        overflow: hidden;
        height: auto;
    }

    section.weekFresh button.heart {
        cursor: pointer;
        position: absolute;
        width: 42px;
        height: 42px;
        top: 0.2em;
        right: 0.5em;
        font-size: 1.5em;
        transition: var(--transitionNormal);
        color: var(--secondColor);
        display: block;
        /* background-color: transparent; */
        border: 0;
    }

    section.weekFresh button.heart i {
        transform: translateY(-0.25em);
    }

    section.weekFresh .cardBottom .cardTitle {
        text-align: justify;
        position: relative;
        margin: 0;
    }

    section.weekFresh .cardBottom .cardTitle h5 {
        margin: 0 0 0.5em 0;
    }

    section.weekFresh .cardBottom .name {
        padding: 0;
        position: relative;
    }

    section.weekFresh .cardBottom .unit {
        padding: 0.5em 0;
        position: relative;
    }

    section.weekFresh .cardBottom .price {
        padding: 0.5em 0;
        color: var(--secondColor);
        overflow: hidden;
        position: relative;
        margin: 0;
        text-align: left;
    }

    section.weekFresh .cardBottom button.intoCart {
        padding: 0.5em 2em;
        position: relative;
        color: var(--backgroundColor);
        background-color: var(--mainColor);
        position: relative;
        border-radius: var(--radiusLarge);
        border: 0;
        margin: auto 0;
        display: inline-block;
        transition: var(--transitionNormal);

        &:hover {
            color: var(--mainColor);
            background-color: var(--backgroundColor);
        }
    }

    section.weekFresh button.lookMore {
        cursor: pointer;
        padding: 0.8em 6em;
        margin-bottom: 6em;
        transition: var(--transitionNormal);

        &:hover {
            color: var(--mainColor);
            background-color: var(--backgroundColor);
            /* border: 1px solid var(--mainColor); */
        }
    }

    /* 本週超讚小農 */
    section.weekFarmer button.seeCommidity {
        transition: var(--transitionNormal);

        &:hover {
            background-color: var(--backgroundColor);
            color: var(--mainColor);
        }
    }
}